/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&family=Roboto:wght@300&display=swap');

/*main setup*/
body {
  font-family: 'Roboto', sans-serif;
}

/* headings */
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

/* navbar */
nav {
  font-size: 115%;
  background-color: rgb(253, 238, 220);
}

.fa-leaf {
  color: rgb(0, 170, 28);
  font-size: 200%;
  padding-right: 2em;
}

.fa-twitter {
  padding-left: 2em;
}

.fa-brands {
  font-size: 80%;
}