/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&family=Roboto:wght@300&display=swap');

/*main setup*/
body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 0 10px;
}

.center {
  text-align: center;
}

/* headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

/* navbar */
nav {
  font-size: 115%;
  font-weight: 400;
  background-color: rgb(177, 132, 77);
}

#navbar-logo {
  color: rgb(27, 122, 43);
  font-size: 200%;
  padding-right: 2rem;
}

.last-account-item {
  padding-right: 2rem;
}

.fa-brands {
  font-size: 80%;
}

/* article_list.html */
.card-text {
  font-size: 115%;
}

.btn-success {
  background-color: rgb(27, 122, 43);
}