{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="home-content col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 offset-0 offset-md-2 offset-lg-3 offset-xl-3">
    <h1 class="center" id="home-header">Natural Healing<br>Wiki <i class="fa-solid fa-leaf"></i></h1>
    <h3 class="center" id="home-subheader">Here everybody can inform himself about naturopathic practices and natural
      medicine, or
      write articles to enrich
      our collection.</h3>
    <br>
    <p>In this wiki, any user who has registered in advance can create articles. These are reviewed by an administrator
      before being published on the site. The review refers only to whether the article is related to naturopathic
      topics. Not on the correctness of the content of the article. After authentication, the article is visible to
      everyone on the site and can only be deleted or edited by the author or an administrator. Already created articles
      which are edited by the author do not need to be authenticated again. However, the operators of the site reserve
      the right to delete articles that no longer fit the context of the site after editing.
    </p>
  </div>
</div>

{%endblock%}